<h2>Create user</h2>
<form asp-action="Create" method="post">
    <div class="form-actions no-color">
        <p>
            <label for="name">Name</label><br>
            <input type="text" name="name" value="@ViewData["Name"]" pattern="[a-zA-Z]*" required /><br><br>
            <label for="dateOfBirth">Date of birth</label><br>
            <input type="date" name="dateOfBirth" value="@ViewData["DateOfBirth"]" max="2021-11-05" required /><br><br>
            <input type="checkbox" name="married" value="@ViewData["Married"]">
            <label for="married">Married</label><br><br>
            <label for="phone">Phone</label><br>
            <input type="tel" name="phone" value="@ViewData["Phone"]" pattern="[0-9]{3} [0-9]{3} [0-9]{4}" required />
            <small>Format: 123 456 7890</small><br><br>
            <label for="salary">Salary (USD)</label><br>
            <input type="number" min="0" step="any" name="salary" value="@ViewData["Salary"]" required /><br><br>

            <input type="submit" value="Create" class="btn btn-dark" />
        </p>
    </div>
</form>